{% extends "base.html" %}
{% block body %}
{% load static %}
	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('{% static 'images/herosectionimg1.jpg' %}'); margin-top: 80px;">
		<h2 class="ltext-105 cl0 txt-center" style="color: black;">
			Blog
		</h2>
	</section>	


	<!-- Content page -->
	<section class="bg0 p-t-62 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-9 p-b-80">
					<div class="p-r-45 p-r-0-lg">
						<!-- item blog -->
						<div id="blog-container">
							{% for blogs in page_obj %}
							<div class="p-b-63">
								<a href="{% url 'blogdetail' blogs.id %}" class="hov-img0 how-pos5-parent">
									<img src="{{ blogs.image.url }}" alt="IMG-BLOG" height="550">
								</a>
					
								<div class="p-t-32">
									<h4 class="p-b-15">
										<a href="{% url 'blogdetail' blogs.id %}" class="ltext-108 cl2 hov-cl1 trans-04">
											{{ blogs.title }}
										</a>
									</h4>
					
									<p class="stext-117 cl6 p-b-26">
										{{ blogs.description1|truncatechars:150 }}
									</p>
					
									<div class="flex-w flex-sb-m p-t-18">
										<a href="{% url 'blogdetail' blogs.id %}" class="stext-101 cl2 hov-cl1 trans-04 m-tb-10">
											Continue Reading
											<i class="fa fa-long-arrow-right m-l-9"></i>
										</a>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					
						<!-- AJAX Pagination -->
						<div id="pagination" class="text-center mt-3">
							{% if page_obj.has_previous %}
							<button onclick="loadPage({{ page_obj.previous_page_number }})">Previous</button>
							{% endif %}
							<span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
							{% if page_obj.has_next %}
							<button onclick="loadPage({{ page_obj.next_page_number }})">Next</button>
							{% endif %}
						</div>
					</div>
				</div>

				<div class="col-md-4 col-lg-3 p-b-80">
					<div class="side-menu">
						<div class="bor17 of-hidden pos-relative">
							<input class="stext-103 cl2 plh4 size-116 p-l-28 p-r-55" type="text" name="search" placeholder="Search">

							<button class="flex-c-m size-122 ab-t-r fs-18 cl4 hov-cl1 trans-04">
								<i class="zmdi zmdi-search"></i>
							</button>
						</div>

						<div class="p-t-55">
							<h4 class="mtext-112 cl2 p-b-33">
								Categories
							</h4>

							<ul>
								<li class="bor18">
									<a href="#" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
										Fashion
									</a>
								</li>

								<li class="bor18">
									<a href="#" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
										Beauty
									</a>
								</li>

								<li class="bor18">
									<a href="#" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
										Street Style
									</a>
								</li>

								<li class="bor18">
									<a href="#" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
										Life Style
									</a>
								</li>

								<li class="bor18">
									<a href="#" class="dis-block stext-115 cl6 hov-cl1 trans-04 p-tb-8 p-lr-4">
										DIY & Crafts
									</a>
								</li>
							</ul>
						</div>

						<div class="p-t-65">
							<h4 class="mtext-112 cl2 p-b-33">
								Featured Products
							</h4>

							<ul>
								{% for pro in product|slice:":3" %}
								<li class="flex-w flex-t p-b-30">
									<a href="#" class="wrao-pic-w size-214 hov-ovelay1 m-r-20">
										<img src="{{pro.image1}}" alt="PRODUCT" width="100%">
									</a>

									<div class="size-215 flex-col-t p-t-8">
										<a href="#" class="stext-116 cl8 hov-cl1 trans-04">
											{{pro.name}}
										</a>

										<span class="stext-116 cl6 p-t-20">
											Rs.₹{{pro.price}}
										</span>
									</div>
								</li>
								{% endfor %}
							</ul>
						</div>

						

						<div class="p-t-50">
							<h4 class="mtext-112 cl2 p-b-27">
								Tags
							</h4>

							<div class="flex-w m-r--5">
								<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									Fashion
								</a>

								<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									Lifestyle
								</a>

								<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									Denim
								</a>

								<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									Streetstyle
								</a>

								<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									Crafts
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script>
		function loadPage(page) {
			fetch(`/blog/?page=${page}`, {
				headers: { 'X-Requested-With': 'XMLHttpRequest' }
			})
			.then(response => response.json())
			.then(data => {
				let blogContainer = document.getElementById("blog-container");
				blogContainer.innerHTML = ""; // Clear current content
		
				data.blog.forEach(blog => {
					let blogHTML = `
						<div class="p-b-63">
							<a href="/blog-detail/${blog.id}" class="hov-img0 how-pos5-parent">
								<img src="${blog.image_url}" alt="IMG-BLOG" height="550">
							</a>
		
							<div class="p-t-32">
								<h4 class="p-b-15">
									<a href="/blog-detail/${blog.id}" class="ltext-108 cl2 hov-cl1 trans-04">
										${blog.title}
									</a>
								</h4>
		
								<p class="stext-117 cl6 p-b-26">
									${blog.description}
								</p>
		
								<div class="flex-w flex-sb-m p-t-18">
									<a href="/blog-detail/${blog.id}" class="stext-101 cl2 hov-cl1 trans-04 m-tb-10">
										Continue Reading
										<i class="fa fa-long-arrow-right m-l-9"></i>
									</a>
								</div>
							</div>
						</div>
					`;
					blogContainer.innerHTML += blogHTML;
				});
		
				// Update Pagination
				let paginationDiv = document.getElementById("pagination");
				paginationDiv.innerHTML = `
					${data.has_prev ? `<button onclick="loadPage(${data.prev_page})">Previous</button>` : ''}
					<span>Page ${data.current_page} of ${data.total_pages}</span>
					${data.has_next ? `<button onclick="loadPage(${data.next_page})">Next</button>` : ''}
				`;
			})
			.catch(error => console.error("Error:", error));
		}
		</script>	
{% endblock body %}	