<div class="row isotope-grid">
    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
      <!-- Block2 -->
      <div class="block2">
        <div class="block2-pic hov-img0">
          <img
            src="https://www.sugarcosmetics.com/cdn/shop/files/Goddess-Of-Flawless-BB-Cream.jpg?v=1736173122&width=500"
            alt="IMG-PRODUCT" width="100%" height="330" />
          <a href="#"
            class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
            Quick View
          </a>
        </div>

        <div class="block2-txt flex-w flex-t p-t-14">
          <div class="block2-txt-child1 flex-col-l">
            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
              Goddess Of Flawless BB Cream
            </a>

            <span class="stext-105 cl3"> Rs. 399.00 </span>
          </div>

          <div class="block2-txt-child2 flex-r p-t-3">
            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
              <img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON" />
              <img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
      <!-- Block2 -->
      <div class="block2">
        <div class="block2-pic hov-img0">
          <img
            src="https://www.sugarcosmetics.com/cdn/shop/files/Mettle-Satin-Lipstick-2.jpg?v=1736509070&width=500"
            width="100%" height="330" alt="IMG-PRODUCT" />

          <a href="#"
            class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
            Quick View1
          </a>
        </div>

        <div class="block2-txt flex-w flex-t p-t-14">
          <div class="block2-txt-child1 flex-col-l">
            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
              Mettle Satin Lipstick
            </a>

            <span class="stext-105 cl3"> Rs. 913.00 </span>
          </div>

          <div class="block2-txt-child2 flex-r p-t-3">
            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
              <img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON" />
              <img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item men">
      <!-- Block2 -->
      <div class="block2">
        <div class="block2-pic hov-img0">
          <img
            src="https://www.sugarcosmetics.com/cdn/shop/files/Face-Fwd-Highlighter-Stick-2.jpg?v=1736509091&width=500"
            width="100%" height="330" alt="IMG-PRODUCT" />
          <a href="#"
            class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
            Quick View
          </a>
        </div>

        <div class="block2-txt flex-w flex-t p-t-14">
          <div class="block2-txt-child1 flex-col-l">
            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
              Face Fwd >> Blush Stick
            </a>

            <span class="stext-105 cl3"> Rs. 695.00 </span>
          </div>

          <div class="block2-txt-child2 flex-r p-t-3">
            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
              <img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON" />
              <img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
      <!-- Block2 -->
      <div class="block2">
        <div class="block2-pic hov-img0">
          <img
            src="https://www.sugarcosmetics.com/cdn/shop/files/Eyeliner-Kajal-Value-Set-2.jpg?v=1736172945&width=500"
            alt="IMG-PRODUCT" width="100%" height="330" />

          <a href="#"
            class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
            Quick View
          </a>
        </div>

        <div class="block2-txt flex-w flex-t p-t-14">
          <div class="block2-txt-child1 flex-col-l">
            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
              Stroke Of Genius Heavy-Duty Kohl
            </a>

            <span class="stext-105 cl3"> Rs. 299.00 </span>
          </div>

          <div class="block2-txt-child2 flex-r p-t-3">
            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
              <img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON" />
              <img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
      <!-- Block2 -->
      <div class="block2">
        <div class="block2-pic hov-img0">
          <img
            src="https://www.sugarcosmetics.com/cdn/shop/files/Matte-Attack-Transferproof-Lipstick-2.jpg?v=1736421113&width=500"
            width="100%" height="330" alt="IMG-PRODUCT" />

          <a href="#"
            class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
            Quick View
          </a>
        </div>

        <div class="block2-txt flex-w flex-t p-t-14">
          <div class="block2-txt-child1 flex-col-l">
            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
              Matte Transferproof Lipstick
            </a>

            <span class="stext-105 cl3"> Rs. 999.00 </span>
          </div>

          <div class="block2-txt-child2 flex-r p-t-3">
            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
              <img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON" />
              <img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item watches">
      <!-- Block2 -->
      <div class="block2">
        <div class="block2-pic hov-img0">
          <img
            src="https://www.sugarcosmetics.com/cdn/shop/files/Set-The-Tone-Tinted-Powder-2.jpg?v=1736509055&width=500"
            alt="IMG-PRODUCT" width="100%" height="330" />

          <a href="#"
            class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
            Quick View
          </a>
        </div>

        <div class="block2-txt flex-w flex-t p-t-14">
          <div class="block2-txt-child1 flex-col-l">
            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
              Set The Tone Tinted Powder
            </a>

            <span class="stext-105 cl3"> Rs. 749.00 </span>
          </div>

          <div class="block2-txt-child2 flex-r p-t-3">
            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
              <img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON" />
              <img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
      <!-- Block2 -->
      <div class="block2">
        <div class="block2-pic hov-img0">
          <img
            src="https://www.sugarcosmetics.com/cdn/shop/files/Blacklash-Volumizing-Mascara-01-Black-Up.jpg?v=1736172172&width=500"
            alt="IMG-PRODUCT" width="100%" height="330" />

          <a href="#"
            class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
            Quick View
          </a>
        </div>

        <div class="block2-txt flex-w flex-t p-t-14">
          <div class="block2-txt-child1 flex-col-l">
            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
              Blacklash Volumizing Mascara
            </a>

            <span class="stext-105 cl3"> Rs. 499.00 </span>
          </div>

          <div class="block2-txt-child2 flex-r p-t-3">
            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
              <img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON" />
              <img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
      <!-- Block2 -->
      <div class="block2">
        <div class="block2-pic hov-img0">
          <img
            src="https://www.sugarcosmetics.com/cdn/shop/files/Seal-The-Show-Lip-Primer.jpg?v=1736173290&width=500"
            alt="IMG-PRODUCT" width="100%" height="330" />

          <a href="#"
            class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
            Quick View
          </a>
        </div>

        <div class="block2-txt flex-w flex-t p-t-14">
          <div class="block2-txt-child1 flex-col-l">
            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
              Seal The Show Lip Primer
            </a>

            <span class="stext-105 cl3"> Rs. 649.00 </span>
          </div>

          <div class="block2-txt-child2 flex-r p-t-3">
            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
              <img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON" />
              <img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item shoes">
      <!-- Block2 -->
      <div class="block2">
        <div class="block2-pic hov-img0">
          <img
            src="https://www.sugarcosmetics.com/cdn/shop/files/Grand-Finale-SPF30-Setting-Mist.jpg?v=1736172836&width=500"
            alt="IMG-PRODUCT" width="100%" height="330" />

          <a href="#"
            class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
            Quick View
          </a>
        </div>

        <div class="block2-txt flex-w flex-t p-t-14">
          <div class="block2-txt-child1 flex-col-l">
            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
              Grand Finale SPF30 Setting Mist
            </a>

            <span class="stext-105 cl3"> Rs. 749.00 </span>
          </div>

          <div class="block2-txt-child2 flex-r p-t-3">
            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
              <img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON" />
              <img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
      <!-- Block2 -->
      <div class="block2">
        <div class="block2-pic hov-img0">
          <img
            src="https://www.sugarcosmetics.com/cdn/shop/files/Magic-Wand-Waterproof-Concealer-2.jpg?v=1736509044&width=500"
            alt="IMG-PRODUCT" width="100%" height="330" />

          <a href="#"
            class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
            Quick View
          </a>
        </div>

        <div class="block2-txt flex-w flex-t p-t-14">
          <div class="block2-txt-child1 flex-col-l">
            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
              uto Correct Creaseless Concealer
            </a>

            <span class="stext-105 cl3"> Rs. 599.00 </span>
          </div>

          <div class="block2-txt-child2 flex-r p-t-3">
            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
              <img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON" />
              <img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item men">
      <!-- Block2 -->
      <div class="block2">
        <div class="block2-pic hov-img0">
          <img src="https://www.sugarcosmetics.com/cdn/shop/files/Powder-Play-Translucent-Compact.jpg?v=1736173015&width=500
            alt=" IMG-PRODUCT" width="100%" height="330">

          <a href="#"
            class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
            Quick View
          </a>
        </div>

        <div class="block2-txt flex-w flex-t p-t-14">
          <div class="block2-txt-child1 flex-col-l">
            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
              Powder Translucent Compact
            </a>

            <span class="stext-105 cl3"> Rs. 649.00 </span>
          </div>

          <div class="block2-txt-child2 flex-r p-t-3">
            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
              <img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON" />
              <img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item men">
      <!-- Block2 -->
      <div class="block2">
        <div class="block2-pic hov-img0">
          <img
            src="https://www.sugarcosmetics.com/cdn/shop/files/The-Most-Eligiblur-Correcting-Primer-2.jpg?v=1736509188&width=500"
            alt="IMG-PRODUCT" width="100%" height="330" />

          <a href="#"
            class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
            Quick View
          </a>
        </div>

        <div class="block2-txt flex-w flex-t p-t-14">
          <div class="block2-txt-child1 flex-col-l">
            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
              The Most Eligiblur Correcting Primer
            </a>

            <span class="stext-105 cl3"> Rs. 695.00 </span>
          </div>

          <div class="block2-txt-child2 flex-r p-t-3">
            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
              <img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON" />
              <img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
      <!-- Block2 -->
      <div class="block2">
        <div class="block2-pic hov-img0">
          <img
            src="https://www.sugarcosmetics.com/cdn/shop/files/Mettle-Satin-Lipstick-5.jpg?v=1736509074&width=500"
            alt="IMG-PRODUCT" width="100%" height="330" />

          <a href="#"
            class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
            Quick View
          </a>
        </div>

        <div class="block2-txt flex-w flex-t p-t-14">
          <div class="block2-txt-child1 flex-col-l">
            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
              Mettle Satin Lipstick
            </a>

            <span class="stext-105 cl3"> Rs. 1,049.00 </span>
          </div>

          <div class="block2-txt-child2 flex-r p-t-3">
            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
              <img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON" />
              <img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
      <!-- Block2 -->
      <div class="block2">
        <div class="block2-pic hov-img0">
          <img
            src="https://www.sugarcosmetics.com/cdn/shop/files/Lash-Mob-Limitless-Mascara.png?v=1736173473&width=500"
            alt="IMG-PRODUCT" width="100%" height="330" />

          <a href="#"
            class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
            Quick View
          </a>
        </div>

        <div class="block2-txt flex-w flex-t p-t-14">
          <div class="block2-txt-child1 flex-col-l">
            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
              Lash Mob Limitless Mascara
            </a>

            <span class="stext-105 cl3"> Rs. 764.00 </span>
          </div>

          <div class="block2-txt-child2 flex-r p-t-3">
            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
              <img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON" />
              <img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item watches">
      <!-- Block2 -->
      <div class="block2">
        <div class="block2-pic hov-img0">
          <img
            src="https://www.sugarcosmetics.com/cdn/shop/files/Base-Of-Glory-Pore-Minimizing-Primer.jpg?v=1736173322&width=500"
            alt="IMG-PRODUCT" height="330" width="100%" />

          <a href="#"
            class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
            Quick View
          </a>
        </div>

        <div class="block2-txt flex-w flex-t p-t-14">
          <div class="block2-txt-child1 flex-col-l">
            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
              Aquaholic Priming Moisturizer
            </a>

            <span class="stext-105 cl3"> Rs. 649.00 </span>
          </div>

          <div class="block2-txt-child2 flex-r p-t-3">
            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
              <img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON" />
              <img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
      <!-- Block2 -->
      <div class="block2">
        <div class="block2-pic hov-img0">
          <img
            src="https://www.sugarcosmetics.com/cdn/shop/files/Mettle-Liquid-Lipstick-4.jpg?v=1736173168&width=500"
            alt="IMG-PRODUCT" width="100%" height="330" />

          <a href="#"
            class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
            Quick View
          </a>
        </div>

        <div class="block2-txt flex-w flex-t p-t-14">
          <div class="block2-txt-child1 flex-col-l">
            <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
              Mettle Liquid Lipstick
            </a>

            <span class="stext-105 cl3"> Rs. 1,139.00 </span>
          </div>

          <div class="block2-txt-child2 flex-r p-t-3">
            <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
              <img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON" />
              <img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>